*.pyc
.~lock*
.DS_Store
.mypy_cache/
*.egg-info/
.tox/
build/
dist/
examples/*.png
pip-wheel-metadata/

# coverage
.coverage
.coverage.*
htmlcov/
coverage.xml
coverage-*.xml
coverage-asyncio/
coverage-twisted/
