name: Tests
on: [push, pull_request]

jobs:
  tests:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tox
      run: pip install tox

    - name: Run asyncio tests
      run: tox -e py

    - name: Run twisted tests
      run: tox -e py-twisted

    - name: Upload coverage report
      if: runner.os != 'Windows'
      run: |
        if [ "${{ runner.os }}" = "Linux" ]; then
          curl -Os https://uploader.codecov.io/latest/linux/codecov
        else
          curl -Os https://uploader.codecov.io/latest/macos/codecov
        fi
        chmod +x codecov
        ./codecov
